@import "../components/animation/scrollAnimation.scss";
@import "../style/style.scss";

#cover{
    background-image: $bg-cover;
    background-repeat: no-repeat;
    background-size: cover;
    font: bold 2.5vw $logo-font;
    text-shadow: 1px 1px 1px $white;
    color: $primary-color;
}

.home-section-name{
  text-align: center;
  text-transform: uppercase;
  color: $primary-color;
  font-weight: bold;
  font-size: 3vw;
  margin-bottom: 5%;
}


section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


section:nth-child(1){
  color: $white;
  }
section:nth-child(2){
  color: $primary-color;
  background: $white;
} 
section:nth-child(3){
  color: $white;
}
section:nth-child(4){
  color: $primary-color;
  background: $white;
}
section .container{
  margin: 50px;
}

section .text-container{
   display: flex;
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  background: $primary-color;
}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

