
.reveal{
  position: relative;
  opacity: 0;
  transition: 1s all ease;
}
.top{
  transform: translateY(150px);
}
.bottom{
  transform: translateY(-150px);
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
