@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=League+Spartan:wght@200&display=swap');



$light-theme: true;
$num-of-slide: 5;
$divNumSlide: 0.2;

//fonts
$logo-font: 'Great Vibes', cursive;
$secondary-font: 'League Spartan', sans-serif;


// color
$primary-color: #584283;
$secondary-color: #4E57D6;
$white: #edede5;
$black: #000000;
$grey: #3c362a;
$grey2: #242424;

//Color wine
$primary-color-brut-rose: #ee63ac;
$primary-color-brut: #4E57D6;
$primary-color-blanc-de-noir: #584284;
$primary-color-cuvee-reserve: #FADE49;

//custom
$text-area-border-color: #ccc;
$button-color: #4CAF50;


// Img
$logo: url("/logo.png");
$bg-cover: url("/Laluc/harvestGrapevine.JPG");
