@import './.variables.scss';
@import './normalize.scss';


:root {
  font-family: $secondary-font;
  line-height: 1.5;
  font-weight: 400;

  @if $light-theme {
    background-color: $white;
    color: $black;
  }

  @else {
    background-color: $grey2;
    color: $white;
  }

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 3%;
  padding: 0;
}

button {
  background: none;
  border: none;
  box-shadow: none;
}