@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=League+Spartan:wght@200&display=swap');



$light-theme: true;

//fonts
$logo-font: 'Great Vibes', cursive;
$secondary-font: 'League Spartan', sans-serif;


// color
$primary-color: #584283;
$white: #edede5;
$black: #000000;
$grey: #3c362a;
$grey2: #242424;

// Img
$logo: url("/logo.png");
$bg-cover: url("/landscapeTest.jpg");