@import '../style/.variables.scss';

// #navbar {
//     background-color: $primary-color;
//     height: 4em;
//     top :0;
//     margin:0;
//     ul {
//         margin: 0;
//         align-items: right;
//     justify-content: center;

//         li{
//             text-decoration: none;
//             display: inline-block;
//             position: relative;
//             padding: 0 10px;
//             router-link-active {
//                 color: red;
//             }
//             color: $primary-text-color;
//             text-align: right;
//         }

//         li:hover {
//             color: rgb(20, 118, 69);
//         }

//         #logo {
//             font-size: 1.5em;
//             font-weight: bold;
//             color: $secondary-text-color;
//             padding: 0 20% 0 0;
//         }
//     }
// }
#nav {
    background: whitesmoke;
}

#nav {
    padding: 30px;
    text-align: center;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

#nav a.router-link-exact-active {
    color: whitesmoke;
    background: crimson;
    border-radius: .5rem;
}