@import "../style/style.scss";

.carousel {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}


.carousel-content {
    display: absolute;
    overflow: hidden;
    margin: 10px;
    display: flex;

}

.carousel-button {
    z-index: 10;

    .-prev {
        position: initial
    }

    .-next {
        position: initial;

    }
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: none;
    width: calc((100%) / 3);
    padding: 15px;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.carouselPicture {
    width: 100%;
    height: auto;
}